[Unit]
Description=Yoda Node Daemon
After=network-online.target

[Service]
User=panu
ExecStart=/home/panu/go/bin/yoda run --node tcp://127.0.0.1:26657
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target